/*********************************/
*{
  margin: 0;
  padding: 0;
  /* background-color: mediumslateblue; */
  /* font-family: 'Nanum Brush Script', cursive; */
  font-family: 'Adamina', serif;
}
body{
  /* width: 100vw; */

}
.center1000{
  width: 1000px;
  margin: auto;
}
.block{
  display: block;
}
.inlineBlock{
  display: inline-block;
}

.title{
  font-size: 70px;
  /* margin: 70px 0 40px 0; */
  padding-left: 20;
}
.titleB{
  font-size: 34px;
  padding-left: 30px;
  color: black;
}
.titleC{
  font-size: 46px;
}
.secondTitle{
  padding: 20px 0;
}
input, textarea{
  outline: 0;
}
input:focus, textarea:focus{
  background: lightgray;
}
/*********************************/
/*********************************/
.principalContainer{
  background-image:  url('../image/background3.jpg') ;
  background-size: cover;

}
.header{
  margin-bottom: 30px;
  position: relative;
}
.header a, .mainMenuOption li, .mainMenuOption {
  display: inline-block;
  color: white;
  text-decoration: none;
}
.containetIco{
  margin: 30px 20px;
}
.mainMenuOption{
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 40px;
}
.mainMenuOption li{
  margin-left: 30px;
  color: white;
}
.mainMenuOption li::before{
  content: "⊙"
}
.portada{
  color: white;
  padding: 20px 30px 80px 30px;

}
.eslogan{
  /* text-align: right; */
  color: white;
}
.portada .button{

  padding: 4px;
  border-radius: 10px;
  font-size: 15px;
  background: linear-gradient(to left, #9e2419, #bc6c09 );
  text-decoration: none;
  color: white;
  position: relative;
  top: 30px;
}
/*********************************/
.headphones *{
  /* border: red dashed 2px; */
}
.boxContent{
  margin: 30px;
  display: block;
  padding: 20px 10px 7px 10px;
  border: #0f0607 solid 2px;
  position: relative;
  border-radius: 10px 0 10px 0;
}
.containerQualities{
  display: inline-block;
}
.biggers{
  margin-left:  150px;
}
.littles{
  margin-left: 450px;
}
.ordenList{
  margin-left: 30px;
  padding: 10px;
}
.izquierda{
  /* float: left; */
  position: absolute;
  left: 200px;
  bottom: 4px;
}
.derecha{
  /* float: right; */
  position: absolute;
  right: 240px;
  bottom: 3px;
}
/*********************************/

.footer{
  background-color: #2f2420;
  color: white;
}
.footer a{
  text-decoration: none;
}
.footer, .design{
  display: flex;
  justify-content: space-between;
}

.contactos{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contactos a{
  display: flex;
  justify-content: space-between;
}

.contactos *{
  color: white;
  margin: 5px;
}
.form {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.col1 , .col2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.intereses{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.intereses *{
  margin: 0px 5px 1px 0;
}
/*********************************/
/*PRECIOS  */
.tabla{
  margin: 70px 0;
}
table{
  width: 100%;
}
table, table *{
  border: black solid 1px;
  border-collapse: collapse;
}
th {
  text-align: left;
  background-color: #a78541;
  color: white;
  padding: 20px;
}
td {
  padding: 20px;
}








/*********************************/
