/*********************************/
body{
  width: 100%;
  margin: 0;
  font-family: 'Adamina', serif;
  background: lightblue;
}
.center1000{
  width: 70%;
  margin: auto;
  position: relative;
}
.block{
  display: block;
}
.inlineBlock{
  display: inline-block;
}

.title{
  font-size: 70px;
}
.titleB{
  font-size: 34px;
  padding-left: 30px;
  color: black;
}
.titleC{
  font-size: 46px;
}
.secondTitle{
  padding: 20px 0;
  margin: 0;
}
input, textarea{
  outline: 0;
}
input:focus, textarea:focus{
  background: lightgray;
}
/*********************************/
/*********************************/
.principalContainer{
  background: lightblue;
  background-image:  url('../image/background5.jpg') ;
  background-size: cover;

}
.header{
  position: relative;
}
.header a, .mainMenuOption li, .mainMenuOption {
  display: inline-block;
  color: white;
  text-decoration: none;
}
.containetIco{
  margin: 20px;
}
.mainMenuOption{
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 30px;
}
.mainMenuOption ul{
  margin: 0;
}
.mainMenuOption li{
  display: inline-block;
  margin-left: 30px;
  color: white;
}
.mainMenuOption li::before{
  content: "⊙"
}
.portada{
  color: white;
  height: 400px;
  margin: 0;
}
.titleIndex{
  margin: 40px 0 0 0;
}
.eslogan{
  /* text-align: right; */
  margin: 10px 0;
  color: white;
}
.portada .button{
  display: inline-block;
  padding: 4px;
  border-radius: 10px;
  font-size: 15px;
  background: linear-gradient(to left, #02e9d9, #d3bda3 );
  text-decoration: none;
  margin: 10px;
}
/*********************************/
.headphones{
  background: lightgray;
  margin: 0;
  padding: 10px 0;
}
.boxContent{
  margin: 30px;
  display: block;
  padding: 10px;
  border: #0f0607 solid 2px;
  position: relative;
  border-radius: 10px 0 10px 0;
}
.titleClass{
  margin: 0;
}
.containerQualities{
  display: inline-block;
}
.biggest{
  margin-left:  150px;
}
.little{
  margin-left: 450px;
}
.ordenList{
  margin-left: 30px;
  padding: 10px;
}
.izquierda{
  position: absolute;
  left: 200px;
  bottom: 4px;
}
.derecha{
  position: absolute;
  right: 240px;
  bottom: 3px;
}
/*********************************/

.footer{
  background-color: #363939;
  color: white;
}
.footer a{
  text-decoration: none;
}
.footer, .design{
  display: flex;
  justify-content: space-between;
}

.contactos{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contactos a{
  display: flex;
  justify-content: space-between;
}

.contactos *{
  color: white;
  margin: 5px;
}
.form {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.col1 , .col2, .contactoInput{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contactoInput .cajas{
  width: 75%;
}

.intereses{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.intereses *{
  margin: 0px 5px 1px 0;
}
/*********************************/
/*PRECIOS  */
.tabla{
  margin: 70px 0;
}
table{
  width: 100%;
}
table, table *{
  border: black solid 1px;
  border-collapse: collapse;
}
th {
  text-align: left;
  background-color: #363939;
  color: white;
  padding: 20px;
}
td {
  padding: 20px;
}

/*********************************/
/*********************************/
/*********************************/

@media screen and (max-width: 1024px){

  .center1000{
    width: 95%
  }
  .portada {
    height: auto;
  }
  .containetIco{
    margin: 20px 20px 0  20px;
  }
  .title {
    font-size: 40px;
    margin: 20px 0 0 0;
  }
  .eslogan {
    font-size: 20px;
    margin: 6px 2px;
  }
  .portada .button{
    margin-bottom: 20px;
  }


  .headphones {
    text-align: center;
  }
  .izquierda, .derecha{
    display: block;
    position: static;
    margin: auto;
  }
  .containerQualities{
    margin: 0;
  }
  .containerQualities li{
    list-style: none;
  }
}

@media screen and (max-width: 800px){
  .header{
    text-align: center;
  }
  .containetIco{
    margin: 5px;
  }
  .mainMenuOption{
    position: static;
    display: block;

  }
  .mainMenuOption li, .mainMenuOption ul{
    margin: 0 10px;
    padding: 0;
  }
}
@media screen and (max-width: 767px){
  .footer, .design, .form{
    display: block;
  }
  .form{
    margin: auto;
    width: 300px;
  }
  .intereses{
    display: block;
  }
  .intereses label{
    display: block;
  }
  .intereses label *{
    margin: 2px 0;
  }
  .contactoInput .cajas{
    width: 100%;
    font-size: 15px;
    padding: 3px;
  }
  .col2, textarea{
    width: 100%;
  }
  .validador{
    display: inline-block;
    width: 100px;
  }
}
@media screen and (max-width: 520px){
  .portada{
    text-align: center;
  }
  .mainMenuOption li{
    display: block;
    padding: 6px 0;
    border-bottom: 1px solid white;
  }
  .mainMenuOption li:first-child{
    border-top: 1px solid white;
  }
  .mainMenuOption li::before{
    display: none;
  }
  .eslogan{
    padding: 0;
  }
  .headphones img{
    height: 190px;
    width: auto;
  }
  .titleC{
    font-size: 30px;
  }
  .ordenList{
    padding: 0;
    margin: 15px;
  }
}
